{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p class="date">
  Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|linebreaks }}
<p>
  <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
</p>

{% with comments.count as total_comments %}
{{ total_comments }} comment{{ total_comments|pluralize}}
{% endwith %}

{% for comment in comments %}
<div class="comment">
  <p class="info">
    Comment {{ forloop.counter }}
    by {{ comment.name }} on {{ comment.created }}
  </p>
  {{ comment.body|linebreaks }}

</div>
{% empty %}
<p>There are no comments yet!</p>
{% endfor %}
{% if new_comment %}
Your Comment has been added succussfully.
{% else %}
<h2>Add a new Comment</h2>
<form action="." method="post">{% csrf_token %}
  {{ comment_form.as_p }}
  <p><input type="submit" value="Add a Comment"></p>
</form>
{% endif %}
{% endblock %}